.banner{
  padding-top: 30rpx;
  swiper{
    height: 400rpx;
    swiper-item{
      image{
        width: 690rpx;
        height: 400rpx;
        border-radius: 30rpx;
      }
    }
  }
}

//CNA简介
.about{
  padding: 50rpx 30rpx 80rpx;
  transform: translateY(20rpx);
  background: var(--themeColor);
  background-size: cover;
  .pubTitle{
    .title{
      color:white;
    }
  }
  .content{
    .row{
      line-height: 1.6em;
      text-indent: 2em;
      font-size: 32rpx;
      padding: 20rpx 0;
      border-bottom: 1rpx dashed rgb(175, 167, 167);
      color: white;
    }
    .row:first-child{
      padding-top:0;
    }
    .row:last-child{
      padding-bottom:0;
      border-bottom: none;
    }
  }
}

