.banner{
  width:100%;
  height: 380rpx;
  .pic{
    width: 100%;
    height: 100%;
  }
}

.content{
  .body{
    padding: 50rpx 30rpx;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .box{
      width: 330rpx;
      margin-bottom: 30rpx;
    }
  }
}